@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #171717;
    font-family: "Work Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav .logo_ul {
    display: flex;
    align-items: center;
}

header nav .logo_ul ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header nav .logo_ul ul li {
    padding: 3px 15px;
    position: relative;
}

header nav .logo_ul ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
}

header nav .logo_ul ul li a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.logo {
    background-color: #f12d2d;
    padding: 1px 8px;
    border-radius: 5px;
}

.logo-text {
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}

.fazer-login {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.buscar_input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.buscar_input {
    padding: 3px 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    margin-right: 10px;
}

.buscar_input::placeholder {
    color: #ffffff;
}

.buscar_e_usuario {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buscar_e_usuario img {
    width: 23px;
    height: 23px;
}